* {height:100%;}
body {margin: 0; padding: 0px; height: 100%; width: 100%; color: rgba(7, 7, 7, 0.873);background-color: white; border: 2px solid black;}

.container {
  display: flex;
}

header{
  position: relative;
  color: aliceblue;
  text-align: center;
  width: 35%;
  /* border: 2px solid red; */
  background: rgb(22, 60, 23) url(background.png)  no-repeat center;
}

h1 {
  position: absolute;
  top: 35%;
  background-color: rgba(10, 24, 8, 0.848);
  height: fit-content;
  width: 100%;
  opacity: 0.8;
  font-size: 3rem;
}

.form-container{
  width: 65%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  position: relative;
}


.info {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: rgba(236, 236, 232, 0.846) !important;
  /* border: 4px solid brown; */
  height: 40%;
}

.info > p:first-child{
  margin-top: 10vh;
}

.info p{
  /* border: 2px solid grey; */
  font-size: max(3.5vw,120%);
  font-weight: 700;
  height: fit-content;
  width: 75%;
  /* padding: 15px; */
  margin-left: 40px;
  margin-right: 20px;
}



form {
  position: relative;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  /* border: 4px solid darkgreen; */
  height: 60vh !important;
  width: 75%;
  /* gap: 10px; */
  justify-content: center;
}

#form-header {
  width: 100%;
  height: fit-content;
  /* border: 1px solid black; */
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 0;
}

form div {
  margin: 5px auto auto 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.btn-div {
  background-color: white !important;
  /* border: 2px solid black; */
  height: 20vh;

  padding: 0;
  width: 100%;
  margin: 2vh 0 0 0;
  bottom: 0;
}

.btn-div button,
.btn-div p{
  margin-left: 40px;
}

.btn-div button {
  margin-top:3vh ;
  height: 5rem;
  width: 12rem;
  border-radius: 8px;
  outline: 0;
  border: 0;
  background-color: rgba(36, 108, 36, 0.867);
  color: whitesmoke;
  font-weight: 800;
}

.btn-div button:hover{
  background-color: rgba(25, 75, 25, 0.867);
}

.btn-div p{
  font-size: 90%;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: darkgreen;
  font-weight: 700;
}

/* Styling the input section */


form input{
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(169, 169, 169, 0.541);
  border-radius: 4px;
  height: 25px;
  width: 14rem;
}

form input[type='text']{
  /* height: 20px !important; */
}

form label {
  margin-top: 0;
  margin-bottom: 2px;
  font-family:'Courier New', Courier, monospace;
}

input[type='text']:invalid:required + span::after,
input[type='tel']:invalid:required + span::after 
  {
  content: 'Required';
  color: rgb(62, 4, 4);
  margin-left:5px;
}

input[type='text']:valid:required + span::after,
input[type='tel']:valid:required + span::after  {
  /* position: absolute; */
  /* top: 4.8rem; */
  /* left: 8.5rem; */
  content: '✓';
  color: green;
  margin-left:5px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(71, 188, 255);
}

input[type='password']:invalid + span::after {
  content: 'Please Fill';
  color: black;
}